<Configuration>
	<General>
		<Setting name="SelectedTest" value="DBOUnitTests.SqlExpressionsTests" type="String"/>
		<Setting name="Categories.Enabled" value="False" type="Boolean"/>
		<Setting name="Categories.ExcludeSelected" value="False" type="Boolean"/>
	</General>
	<Form>
		<Setting name="WindowState" value="0" type="Integer"/>
		<Setting name="Left" value="1968" type="Single"/>
		<Setting name="Top" value="3120" type="Single"/>
		<Setting name="Width" value="14532" type="Single"/>
		<Setting name="Height" value="8940" type="Single"/>
		<Setting name="SplitterPosition" value="6288" type="Long"/>
	</Form>
	<TreeViewExpanded>
		<Setting name="DBOUnitTests" value="True" type="Boolean"/>
		<Setting name="DBOUnitTests.SqlExpressionsTests" value="True" type="Boolean"/>
	</TreeViewExpanded>
	<Categories.Selected/>
</Configuration>
